html {
  height: 100%;
  width: 100%;
}

body {
  background: #FCB200;
  font-family: LS;
color: white;
}

.logo {
  width: 250px;
  height: 250px;
  margin-top: -75px;
}

.nav {
  display: flex;
}

@font-face {
    font-family: 'LS';
    src: url('/leaguespartan.otf');
    font-weight: normal;
    font-style: normal;
}

.button {
  background-color: white;
  border-radius: 18px;
  width: 160px;
  height: 50px;
  font-family: LS;
  font-size: 23px;
  margin-top: 22px;
  border: none;
}

.buttonactive {
  background-color: white;
  border-radius: 18px;
  width: 160px;
  height: 50px;
  font-family: LS;
  font-size: 23px;
  margin-top: 22px;
}

.big {
  font-size: 60px
}

.icon {
  width: 130px;
  border: 3px solid rgba(255,245,0,1);
  border-radius: 15px;
  margin-bottom: -40px;
}

p {
  color: white;
}

.icontxt {
  margin-left: 8px;
}

.flex {
  display: flex;
}

.icondiv {
  margin-right: 12px;
}

.fullbutton {
  margin-right: 12px;
}